:root {
  // Colors
  --black: background: rgba(20, 22, 31, 1);
  --yellow: background: rgba(206, 171, 66, 1);
  --yellow-2: background: rgba(254, 241, 89, 1);
  --yellow-3: background: rgba(251, 232, 193, 1);
  --yellow-4: background: rgba(242, 188, 28, 1);
  --yellow-5: background: rgba(254, 237, 37, 1);
  --yellow-6: background: rgba(245, 196, 97, 1);
  --purple: background: rgba(247, 217, 253, 1);
  --purple-2: background: rgba(247, 193, 254, 1);
  --purple-3: background: rgba(189, 152, 253, 1);
  --purple-4: background: rgba(237, 168, 250, 1);
  --purple-5: background: rgba(234, 94, 252, 1);
  --purple-6: background: rgba(234, 94, 252, 1);

  --header-height: 114px;
}
