.root {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;

  padding: 18px;
}

.title {
  width: 50%;

  font-size: 123px;
  font-weight: 700;
  line-height: 1;
  color: var(--text-primary);
  text-transform: uppercase;
}

.header-right-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;

  // to align with title
  margin-top: 13px;
}

.tab-count {
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
  color: var(--text-primary);

  border: 2px solid var(--text-primary);
  border-radius: 50%;
  transition: var(--transition-600) var(--cubic-bezier);
}

.tab {
  position: relative;

  display: flex;
  gap: 8px;

  font-size: 47px;
  font-weight: 500;
  line-height: 56px;
  color: var(--text-primary);

  padding-bottom: 18px;
  transition: var(--transition-600) var(--cubic-bezier);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    width: 0;
    max-width: 480px;
    height: 2px;

    background-color: var(--text-primary);
    transition: var(--transition-600) var(--cubic-bezier);
  }

  &:hover {
    cursor: pointer;

    color: var(--text-secondary);

    &::after {
      width: 100%;

      background-color: var(--text-secondary);
    }

    .tab-count {
      color: var(--text-secondary);

      border-color: var(--text-secondary);
    }
  }
}

.tab__active {
  color: var(--text-secondary);

  &::after {
    width: 100%;

    background-color: var(--text-secondary);
  }
}

.tab-count__active {
  color: var(--text-secondary);

  border-color: var(--text-secondary);
}

.services-list {
  display: flex;
  flex-direction: column;
}

.services-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  transition: var(--transition-600) var(--cubic-bezier);
}

.margin-top-120 {
  margin-top: 120px;
}

.button-wrapper {
  display: flex;
  justify-content: center;

  margin-top: 80px;
}

.all-services-button {
  width: fit-content;

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: var(--text-primary);

  padding: 20px 52px;
  border-radius: 48px;
  border: 2px solid rgba(216, 230, 241, 0.4);

  &:hover {
    cursor: pointer;
  }
}

.large-button {
  padding: 44px 0;
  margin-top: 144px;
  border-radius: 104px;
  background-image: url('/images/button_bg.png');
  background-size: 150%;
  background-position: 0% 0%;
  mix-blend-mode: difference;

  transition: var(--transition-600) var(--cubic-bezier);

  &:hover {
    background-position: 20% 60%;
  }
}

.large-button__text {
  font-size: 47px;
  font-weight: 500;
  line-height: 56px;
  color: var(--text-primary);
  mix-blend-mode: difference;
}
